body {
  background-color: blueviolet;
  font-family: sans-serif;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}
.file {
  height: 300px;
  margin: auto;
  width: 400px;
  background: white;
  border-radius: 5px;
}
button {
  width: 80%;
  height: 35px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  background-color: indianred;
  outline: none;
}
.sign {
  padding-top: 40px;
  color: #8c55aa;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}
